<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">

		<!-- build:css({app,.tmp}) {{ site.baseurl }}css/main.css -->
		
		<style> [data-sr] { visibility: hidden; } </style>
		<!-- keep this to reduce flash -->

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/main.css">
		<!-- endbuild -->


	</head>
	<body>
<nav id="nav-wrapper">
	<ul class="nav">
		<li>
			<a href="#home">⇧</a>
		</li>
		<li>
			<a href="#journey">journey</a>
		</li>
		<li>
			<a href="#engagement">engagement</a>
		</li>
		<li>
			<a href="#wedding">wedding</a>
		</li>
		<li>
			<a href="#rsvp">rsvp</a>
		</li>
		<li>
			<a href="#registry">registry</a>
		</li>
		<div class="open-nav"></div>
	</ul>
</nav>
	<div class="parallax" id="my-container" data-spy="scroll" data-target="#nav-wrapper" data-offset="50">

	  {{ content }}

	</div>
<div class="overlay hide">

	<button class="btn">&times;</button>
    <div class="modal">
	    <iframe src="https://thankfulregistry.com/rawbanana"></iframe>
	</div>
</div>



	
	<!-- build:js(app) {{ site.baseurl }}js/scripts.js -->
		<!-- bower:js -->
		<script src="{{ site.baseurl }}_bower_components/jquery/dist/jquery.js"></script>
		<script src="{{ site.baseurl }}_bower_components/qunit/qunit/qunit.js"></script>
		<script src="{{ site.baseurl }}_bower_components/bigtext/dist/bigtext.js"></script>
		<script src="{{ site.baseurl }}_bower_components/scroll-reveal/dist/scrollReveal.js"></script>
		<script src="{{ site.baseurl }}_bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
		<script src="{{ site.baseurl }}_bower_components/jquery.localScroll/jquery.localScroll.js"></script>
		<script src="{{ site.baseurl }}_bower_components/jquery.localScroll/jquery.localScroll.min.js"></script>
		<script src="{{ site.baseurl }}_bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<!-- endbower -->
		<script src="{{ site.baseurl }}js/main.js"></script>
	<!-- endbuild -->

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-31276554-3', 'auto');
	  ga('send', 'pageview');
	</script>

	</body>
</html>