/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #000;
  font: 13.34px Helvetica, Arial, sans-serif;
  text-align: center;
  overflow: hidden;
  border-top: 60px #000 solid;
  @media  (min-width: $screen-md-min) {
	border-top: none;
  }

  background-image: url('/img/roraima-sm.jpg');
  background-size: cover;
  background-position: 0 60px;
  background-attachment: fixed;
  @media  (min-width: $screen-md-min) {
    background-image: none;
  }
}