// --------------------------------
// Header and Navigation
// --------------------------------

ul.nav {
  position: fixed;
  padding: 5px 10px;
  margin: 0;
  left:20px;
  right:20px;
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(#000,0.75);
  list-style:none;

  transition: transform 0.3s ease-out;
  transform: translateY(calc(-100% + 57px));

  @media screen and (min-width: $screen-md-min) {
    top:40px;
    flex-direction: row;
    transform: translateY(0);
    background-color: transparent;
  }

  justify-content: center;

  &.active {
    transform: translateY(0);
  }

  li {

    flex:1;
    margin:0 0 -2px 0;
    padding: 0;
    white-space: wrap;
    @media screen and (min-width: $screen-md-min) {
      flex: none;
      display: block;
      top: 60px;
      margin-left:-2px;
      margin-bottom: 0;
      &:first-of-type {
        margin-left:0;
        a {
        border-radius: 5px 0 0 5px;
        }
      }
      &:last-of-type a {
        border-radius: 0 5px 5px 0;
      }
    }
  }  
  a { 
    display: block;
    padding: 10px;
    border:2px solid #fff;
    color:#fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition: all 0.2s ease-out;

    @media screen and (min-width: $screen-md-min) {
      padding:10px 22px;
    }

    &:hover,
    &:active {
      transition: none;
      color: #fff;
      background-color: rgba(#fff,0.3);
    }

  }
  li.active a {
      color: #fff;
      background-color: rgba(#fff,0.3);
  }
    &.dark:not(.active) li {
      a {
        color: #fff;
        background-color: rgba(#000,0.75);
      }
      a:hover,
      &.active a{
        background-color: rgba(#000,0.85);
      }
    }
}


// 
// Mobile Menu Open
// 
$m-menu-color: #fff;
$m-menu-color-hover: #fff;
.open-nav {
  position:relative;
  margin-top:15px;
  margin-bottom: 5px;
  width: 42px;
  cursor: pointer;
  padding:8px;
  border: 2px solid #fff;

  &:after,
  &:before {
    content:"";
    position: relative;
    display: block;
    height: 5px;
    width: 100%;
    border-bottom: 3px solid $m-menu-color;
  }
  &:before {
    border-top: 3px solid $m-menu-color;
  }
  &:hover {
    background-color: rgba(#fff,0.3);
    &:after,
    &:before {
      border-color: $m-menu-color-hover;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .open-nav {
    display: none;
  }
}

.logo {
  margin: 0 auto auto auto; 
}


.btn, button.btn {
  background-color: $btn-bg;
  color: $btn-color;
  border: $btn-border 2px solid;
  padding: 8px 15px;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.3em;
  text-align: center;
  &:hover {
    color: $btn-color-h;
    border-color: $btn-border-h;
    background-color: lighten($btn-bg,10%);
  }
  &:active {
    background-color: darken($btn-bg,10%);
  }
}
.btn.btn-lg {
  font-size: 18px;
  padding: 18px 60px;
}

.callout .btn {
  margin-top:100px;
}


iframe {
  position: relative;
  display: block;
  padding: 20px;
  width: 100%;
  height: 100%;
  border: none;
}

.overlay {
  position: fixed;
  display: block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding: 40px 0 0 0;
  @media screen and (min-width: $screen-md-min) {
    padding: 50px;
  }
  overflow: hidden;
  z-index: 9999;
  background-color: rgba(#000,0.8);
  &.hide {
    display: none;
  }
  .btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 1px 10px 4px 10px;
    font-size:24px;
    letter-spacing: 0;
    background-color: transparent;
  }
}


.modal {
  position: relative;
  display: block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  
  background: #fff;
  @media screen and (min-width: $screen-md-min) {
    border-radius: 10px;
  }

}