h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

h1 {
	font-size: 5rem;
	color: #fff;
}

.title-heavy {
	font-family: Helvetica;
	font-weight: 900;
}
.title-light {
	font-family: Helvetica;
	font-weight: 100;
}


.callout {
	width: 100%;
	margin: 0 auto;
	text-transform: uppercase;
	color: #fff;
}


@media screen and (min-width: $screen-md-min) {

	.callout {
		width: 50%;
		max-width:570px;
	}

}


.content {
	font-family: Garamond;
	margin:auto;
	font-size: 1.4rem;
	color: #fff;
	text-align: left;
	width:96%;
	line-height: 1.75;
	p:first-child {
		margin-top:0;
	}
}
.columns {
		column-width: 90vw;
		column-gap: 10px;
		max-width: none;
		height: 85vh;
		overflow: auto;
	}


@media screen and (min-width: $screen-md-min) {
	.columns {
		column-count: 2;
		column-width: auto;
		column-gap: 10px;
		max-width: none;
		height: auto;
	}
	.content {
		width:80%;
	}
}

//Quotes
blockquote {
	font-family: Garamond;
	font-style: italic;
	font-size: 1.8rem;
	text-align: center;

	quotes: "\201C""\201D""\2018""\2019";

	&:before,
	&:after {
		content: open-quote;
		position:absolute;
		font-size:  30px;
		font-family: Garamond;
		margin-left: -20px;
	}
	&:after {
		content:  close-quote;
		margin-left: auto;
		margin-right: -20px;
	}
}

	cite {
		display: flex;
		text-align: center;
		font-family: Helvetica;
		font-size: 1.2rem;
		font-style: normal;
		&:after, &:before {
			content: "";
			top:14px;
			position: relative;
			flex: 1;
			height:1px;
			width: auto;
			max-width:100%;
			background-color: #fff;
		}
		&:after {
			margin-left: 8px;
		}
		&:before {
			margin-right: 8px;
		}
	}

a { 
	color: $link;
	text-decoration: none;
	&:hover {
		color: $link-hover;
	}
}